.bar_player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.player_controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 27px 0 31px;
}
.button {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn_prev {
  margin-right: 23px;
}

.prev_svg {
  width: 15px;
  height: 14px;
}

.btn_play {
  margin-right: 23px;
}

.play_svg {
  width: 22px;
  height: 20px;
  fill: #d9d9d9;
}

.btn_next {
  margin-right: 28px;
  fill: #a53939;
}

.next_svg {
  width: 15px;
  height: 14px;
  fill: inherit;
  stroke: #d9d9d9;
}

.btn_repeat {
  margin-right: 24px;
}

.repeat_svg {
  width: 18px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.btn_shuffle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.shuffle_svg {
  width: 19px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.btn_icon:hover svg {
  fill: transparent;
  stroke: #acacac;
  cursor: pointer;
}

.btn_icon:active svg {
  fill: transparent;
  stroke: #ffffff;
  cursor: pointer;
}

.btn {
  cursor: pointer;
}
