.track_play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.play_contain {
  width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'image author' 'image album';
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.play_image {
  width: 51px;
  height: 51px;
  background-color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 12px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: image;
}
.play_svg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4e4e4e;
}

.play_author {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: author;
  min-width: 49px;
}

.author_link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
}

.play_album {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: album;
  min-width: 49px;
}

.album_link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
}

.like_dislike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 26%;
}

.play_like,
.play_dislike {
  padding: 5px;
}

.like_svg {
  width: 14px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.play_dislike {
  margin-left: 28.5px;
}
.like_svg:active {
  fill: #696969;
  stroke: #ffffff;
  cursor: pointer;
}

.dislike_svg {
  width: 14.34px;
  height: 13px;
  fill: transparent;
  stroke: #696969;
}
.dislike_svg:active {
  fill: #696969;
  stroke: #ffffff;
  cursor: pointer;
}

.btn_icon:hover svg {
  fill: transparent;
  stroke: #acacac;
  cursor: pointer;
}

.btn_text:active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}

.btn_icon:active svg {
  fill: transparent;
  stroke: #ffffff;
  cursor: pointer;
}
.active {
  color: crimson;
  fill: crimson;
}
