.item {
  font-family: 'StratosSkyeng';
  color: #ffffff;
}

.item:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

.active {
  color: #ad61ff;
  text-decoration: underline;
}
